.landing {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.landing_container {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 60vw;
  height: 60vh;
  padding: 20px;
}
.custom_puzzle {
}
.random_puzzle {
}
